body {
    font-family: geomanistregular;
    min-width: 400px;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #002f34;
    color: #23e5db;
    padding: 2px 0 2px 15px;
    display: flex;
    justify-content: space-between;
}

.header .actions {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.header .actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cta {
    margin-bottom: 15px;
    justify-content: space-evenly;
}

p, h3 {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.text-center {
    text-align: center;
}

.offer-list {
    max-height: 300px;
    overflow-y: auto;
}

.offer-list img {
    max-width: 100px;
    margin-right: 5px;
    height: fit-content;
}

.cta button {
    padding: 7.5px 30px 7.5px 30px;
    font-size: 1em;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}
