body {
    min-width: 400px;
}

.cta {
    margin-bottom: 15px;
    justify-content: space-evenly;
}

p, h3 {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.text-center {
    text-align: center;
}

.offer-list {
    max-height: 300px;
    overflow-y: auto;
}

.offer-list img {
    max-width: 100px;
    margin-right: 5px;
    height: fit-content;
}

.cta button {
    padding: 7.5px 30px 7.5px 30px;
    font-size: 1em;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}